.themeHook { 
    background: #eee;
}

@media (prefers-color-scheme: dark) {
    .themeHook { 
        background: #000;
    }
}

@media (prefers-color-scheme: light) {
    .themeHook { 
        background: #fff;
    }
}